body{
    margin:0;
    height: 100vh;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
}

.slider{
    width:800px;
    height: 500px;
    border-radius: 10px;
}

.slides{
    display: flex;
    width:500%;
    height: 500px;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 950px;
    height: 500px;
}

/*manual navigator*/

.navManual{
   
    position: absolute;
    width: 800px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.btnManual{
    border: 2px solid rgb(235, 252, 138);
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.btnManual:not(:last-child){
    margin-right: 40px;
}
.btnManual:hover{
    background: rgb(135, 233, 164);
}

#radiobtn0:checked ~ .first{
    margin-left: 0;
    
}

#radiobtn1:checked ~ .first{
    margin-left: -20px;
    
}

#radiobtn2:checked ~ .first{
    margin-left: -40px;
    
}
#radiobtn3:checked ~ .first{
    margin-left: -60px;
    
}
#radiobtn4:checked ~ .first{
    margin-left: -80px;
    
}
#radiobtn5:checked ~ .first{
    margin-left: -100px;
    
}


/*auto navigator*/
